*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

form, button, output {
   background-color: #63B546;
   color: white;
   font-size: 3vw;
   font-weight: lighter;
   border: none;
}

button, output {
   border: solid calc(1px) white;
}

.calculator {
   position: relative;
   width: 40.45vw;
   height: 60.5vw;
   display: flex;
   flex-flow: wrap row;
   background-color: white;
   justify-content:space-around;
}

button {
   position: relative;
   width: 10vw;
   height: 10vw;
}

button:hover {
   transition: all 0.3s ease 0s;
   background-color: #95C984;
   font-weight: 500;
   /*font-size: 4vw;*/
}

button:focus {
   outline: none;
   transform: rotateY(180deg);
   /*background-color: slategray;*/
}

output {
   display: inline;
   width: 30.2vw;
   height: 10vw;
   position: relative;
   font-family: sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow-x: scroll;
}

#filler {
   position: relative;
   width: 20.12vw;
   height: 10vw;
   color: #95C984;
   background-color: white;
   font-size: 8vw;
   text-align: center;
}

#filler:hover {
   font-size: 7.4vw;
}

.op {
   background-color: #95C984;
   color: dimgray;
}

.op:hover {
   transition: all 0.3s ease 0s;
   color: white;
}
